// header.scss

header {
    background: $orange-bg-color;
    border-radius:6px 6px 0 0;
    transform-style: preserve-3d;

    .calendar-image {
        position: relative;
        height: 225px;
        border-radius:6px 6px 0 0;
        background-image: url("https://images.pexels.com/photos/636243/pexels-photo-636243.jpeg?auto=compress&cs=tinysrgb&h=650&w=940%201x,%20https://images.pexels.com/photos/636243/pexels-photo-636243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940%202x");
        background-size: 100% 100%;

        @media only screen and (max-width: $screen-md) {
            height: calc(100vh - 441px);
        }

        .year-month-dropdown {
            position: absolute;
            top: -35px;
            left: 0;
            width: 100%;
            height: 40px;

            .month-dd, .year-dd {
                text-align: center;
                background: $white-text-color;
            }

            .month-dd {
                padding-right: 1px;
            }

            .year-dd {
                padding-left: 1px;
            }
        }
    }

    .arrow-left-icon, .arrow-right-icon {
        cursor: pointer;
        width: 36px;
        height: 36px;

        &:hover {
            fill: $white-text-color;
            transition: .3s ease;
        }
    }

    .date-day-month {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;

        &.date{
            font-size:50px;
            color:$white-text-color;
            font-weight:500;
            float: left;
            width: 35%;
            text-align: right;
        }

        &.day{
            padding-top: 21px;
            font-size:14px;
            color:$baltic-sea-color;
            font-weight:400;
        }

        &.month{
            font-size:10px;
            color:$baltic-sea-color;
            font-weight:200;
        }
    }
}

.dropdown {
    padding-top: 2px;
    background: $white-text-color;

    .react-select-container {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }

    .react-select__control {
        position: relative;
        border: 1px solid $baltic-sea-color;
        border-radius: 0;
        background-color: $baltic-sea-color;
        color: #fefefe;

        .react-select__single-value {
            color: $white-text-color;
        }

        .react-select__indicators {
            cursor: pointer;
        }
    }

    .react-select__menu {
        margin-top: 0;
        border-radius: 0;
        background-color: $white-text-color;

        .react-select__option {
            padding: 0;
            cursor: pointer;
        }

        .react-select__option--is-selected {
            background-color: $orange-bg-color;
        }

        .react-select__option--is-focused {
            background-color: rgba($orange-bg-color, 0.5);
        }
    }
}

.day-names {
    background-color: $white-text-color;
    font-size:12px;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    padding-top: 10px;
    padding-bottom: 10px;

    > div {
        color: $orange-bg-color;
    }
}

// week-section.scss

section {
    background-color: $baltic-sea-color;

    &::before, &::after {
        position: relative;
        content: '';
        display: inline-block;
        border: 5px solid $orange-bg-color;
        width: 100%;
        box-sizing: border-box;
    }

    &::before {
        top: -10px;
    }

    &::after {
        bottom: -6px;
    }

    .cell {
        height: 3.5em;
        text-align: center;
        cursor: pointer;
        padding-top: 10px;
        padding-bottom: 10px;

        &.disabled {
            opacity: 0.2;
            pointer-events: none;
        }

        &.today {
            background: $gradient-orange;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, $gradient-yellow, $gradient-orange);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, $gradient-yellow, $gradient-orange); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            opacity: 0.4;
            transition: .3s ease-in;

            .date {
                font-size: 40px;
                font-weight: 400;
                color:$white-text-color;
                position: relative;
                left: 10px;
                bottom: 10px
            }
        }

        &:hover, &.selected {
            background: $gradient-orange;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, $gradient-yellow, $gradient-orange);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, $gradient-yellow, $gradient-orange); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            opacity: 1;
            transition: .3s ease-in;

            .date {
                font-size: 40px;
                font-weight: 400;
                color:$white-text-color;
                position: relative;
                left: 10px;
                bottom: 10px
            }
        }

        .date {
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            font-size: 28px;
            color:$white-text-color;
            font-weight: 300;
        }
    }
}

