// color hex codes variables
$orange-bg-color: #E76642;
$white-text-color: #ECECE7;
$baltic-sea-color: #232227;
$gradient-orange: #FF512F;
$gradient-yellow: #F09819;

// media queries breakpoints
$screen-md: 768px;
$screen-lg: 992px;
